.register {
  display: flex;
  justify-content: center;
  overflow: hidden;
  min-height: 100vh;
  .right {
    background: url('../../../assets/cinema.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
  }

  mat-icon {
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .right {
      display: none;
    }
  }
}
