.container {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em 1em;
    justify-items: center;
  }
  .movie-card {
    min-width: 200px;
    overflow: hidden;

    mat-card-title {
      overflow: hidden;
      min-height: 2rem;
      height: auto;
    }

    img {
      display: block;
      margin: 0 auto;
      transition: all 400ms ease;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }
}
