<ul class="menu">
  <li (click)="popular()">
    <button class="btn btn-primary">Popular</button>
  </li>
  <li (click)="nowPlaying()">
    <button class="btn btn-primary">Now Playing</button>
  </li>
  <li (click)="topRated()">
    <button class="btn btn-primary">Top Rated</button>
  </li>
  <li (click)="upcoming()">
    <button class="btn btn-primary">Upcoming</button>
  </li>
</ul>
<div *ngIf="movies$ | async as movies" class="row">
  <div
    class=" col-md-3"
    *ngFor="let movie of movies['results']"
    routerLink="../movie/{{ movie.id }}"
    data-aos="fade-up"
  >
    <div class="movie-card">
      <img
        src="http://image.tmdb.org/t/p/w342{{ movie.poster_path }}"
        alt="Poster image of {{ movie.title }}"
      />
    </div>
  </div>
</div>
