.menu {
  display: flex;
  margin: 2em;

  li {
    padding: 1em;
    margin-right: 0.5em;
    cursor: pointer;

    &:hover h2 {
      color: blue;
    }
  }

  li.active {
    color: gold;
  }
}
.movie-card {
  overflow: hidden;
  margin-left: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  img {
    transition: all 400ms ease;
    width: 100%;
  }

  &:hover img {
    transform: scale(1.1);
  }
}
