.menu {
  display: flex;
  margin: 2em;
  margin-left: 0.8em;

  li {
    padding: 1em;
    margin-right: 0.5em;
    cursor: pointer;

    &:hover h2 {
      color: blue;
    }
  }

  li.active {
    color: gold;
  }
}
