<div class="login">
  <div class="left col-md-6"></div>
  <div class="right col-md-6">
    <h1 class="text-center">Login</h1>
    <form class="login-form form " [formGroup]="formGroup">
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Enter Email"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter your password"
          [type]="hide ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </mat-form-field>
      <button class="btn-primary btn">Login</button>
    </form>
  </div>
</div>
