<div class="login">
  <div class="left col-md-6"></div>
  <div class="right col-md-6">
    <form class="login-form form " [formGroup]="formGroup">
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Enter Email"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>
    </form>
  </div>
</div>
