<mat-toolbar>
  <mat-toolbar-row class="container">
    <span class="logo"><a (click)="toHome()">UR/MovieDB</a></span>
    <span class="spacer"></span>
    <input
      matInput
      [(ngModel)]="query"
      [class.hide]="!loggedin"
      type="text"
      placeholder="Search Title"
      (keyup.enter)="search(query)"
    />
    <nav>
      <!-- <span><a mat-button (click)="toLogin()">Login</a></span>
      <span><a mat-button (click)="toRegister()">Register</a></span> -->
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
