/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.grid {
  display: grid;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}
