/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.hide {
  display: none;
}

.grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.page {
  padding-top: 60px;
}

ul {
  list-style: none;
}

.movie-card {
  overflow: hidden;
  margin-left: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  img {
    transition: all 400ms ease;
    width: 100%;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}
