.side-bar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  transition: all 500ms ease-in-out;

  ul {
    background-color: #95878b;
    li {
      background-color: inherit;
      border-bottom: 1px solid #444;
      padding: 0.5em 1em;

      a {
        color: #fff;
        padding: 0 2em;
        &:hover,
        .active {
          color: #9db9d7;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    left: -2000px;
  }
}
